<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/main_base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="card">
    <div class="card-header bg_primary">
      <h4>Add Fee Structure</h4>
    </div>
    <form id="login-form" class="form" th:action="@{/admin/do-add-fee}" th:object="${fee}" action="#"
          method="post">
      <div class="card-body">
        <div class="row mb-3">

          <div class="col-md-12">
            <div class="form-group">
              <label for="course"> Name</label>
              <select
                      class="form-control"
                      name="course"
                      id="course"
              >
                <option th:each="choice : ${courses}"
                        th:value="${choice.getCourse_id()}"
                ><span th:text="${choice.getCourse_name()}"></span></option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fee">Course Fee</label>
              <input
                      id="fee"
                      name="fee"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <label for="discount">Discount</label>
            <input
                    id="discount"
                    name="discount"
                    type="text"
                    class="form-control"
                    placeholder="Enter here"
            />
          </div>
        </div>
        </div>

        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="city">City</label>-->
        <!--              <input-->
        <!--                      id="city"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="qualification">course</label>-->
        <!--              <input-->
        <!--                      id="qualification"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-2 mx-auto container text-center">
            <input class="btn btn-primary btn-sm text-uppercase"  type="submit">
            </input>
          </div>
        </div>
      </div>
    </form>

  </div>
  </div>



</section>
</body>
</html>