<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/main_base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="card">
    <div class="card-header bg_primary">
      <h4>Add Student</h4>
    </div>
    <form id="login-form" class="form" th:action="@{/admin/do-add-student}" th:object="${student}" action="#"
          method="post">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="studentName">Student Name</label>
              <input
                      id="studentName"
                      name="studentName"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                      id="email"
                      name="email"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Contect Info</label>
              <input
                      id="phone"
                      name="phone"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Address</label>
              <input
                      id="address"
                      name="address"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="course">Course Name</label>
              <select
                      class="form-control"
                      name="course"
                      id="course"
              >
                <option th:each="choice : ${courses}"
                        th:value="${choice.getCourse_id()}"
                ><span th:text="${choice.getCourse_name()}"></span></option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-2 mx-auto container text-center">
            <input class="btn btn-primary btn-sm text-uppercase"  type="submit">
            </input>
          </div>
        </div>
      </div>
    </form>

  </div>


  <div class="card mt-4">
    <div class="card-header bg_primary">
      <h4>All Students</h4>
    </div>
    <div class="card-body" >
      <table class="table table-bordered table-hover">
        <thead>
        <th>Student Name</th>
        <th>Contect no</th>
        <th>Email</th>
        <th>Address</th>
        <th>Course</th>
        </thead>
        <tbody>
        <tr th:each="student:${allStudents}" >
          <td th:text="${student.getStudentName()}"></td>
          <td th:text="${student.getAddress()}"></td>
          <td th:text="${student.getEmail()}"></td>
          <td th:text="${student.getAddress()}"></td>
          <td th:text="${student.getCourse().getCourse_name()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>
</body>
</html>