<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="teacher/main_base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="card">
    <div class="card-header bg_primary">
      <h4>Add Assignment</h4>
    </div>
    <form id="login-form" class="form" th:action="@{/teacher/do-add-assignment}" th:object="${assignment}" action="#"
          method="post">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                      id="title"
                      name="title"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastdate">Last Date</label>
              <input
                      id="lastdate"
                      name="lastdate"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="subject">Subject</label>
              <select
                      class="form-control"
                      name="subject"
                      id="subject"
              >
                <option th:each="choice : ${subjects}"
                        th:value="${choice.getSubject_id()}"
                ><span th:text="${choice.getSubjectName()}"></span></option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="content">content</label>
              <input
                      id="content"
                      name="content"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="city">City</label>-->
        <!--              <input-->
        <!--                      id="city"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->

        <!--          </div>-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="qualification">course</label>-->
        <!--              <input-->
        <!--                      id="qualification"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-2 mx-auto container text-center">
            <input class="btn btn-primary btn-sm text-uppercase"  type="submit">
            </input>
          </div>
        </div>
      </div>
    </form>

  </div>


  <div class="card mt-4">
    <div class="card-header bg_primary">
      <h4>All Assignment</h4>
    </div>
    <div class="card-body" >
      <table class="table table-bordered table-hover">
        <thead>
        <th>Title</th>
        <th>Subject</th>
        <th>Last Date</th>
        <th>Time</th>
        </thead>
        <tbody>
        <tr th:each="ass:${assignments}" >
          <td th:text="${ass.getTitle()}"></td>
          <td th:text="${ass.getSubject().getSubjectName()}"></td>
          <td th:text="${ass.getLastdate()}"></td>
          <td th:text="${ass.getContent()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>
</body>
</html>