<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="teacher/main_base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="card">
    <div class="card-header bg_primary">
      <h4>Add Subject</h4>
    </div>
    <form id="login-form" class="form" th:action="@{/teacher/do-add-subject}" th:object="${subject}" action="#"
          method="post">
      <div class="card-body">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="subjectName">Subject Name</label>
              <input
                      id="subjectName"
                      name="subjectName"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="course">Course</label>
              <select
                      class="form-control"
                      name="course"
                      id="course"
              >
                <option><span >choose</span></option>
                <option th:each="choice : ${courses}"
                        th:value="${choice.getCourse_id()}"
                ><span th:text="${choice.getCourse_name()}"></span></option>
              </select>
            </div>
          </div>

        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="city">City</label>-->
        <!--              <input-->
        <!--                      id="city"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->

        <!--          </div>-->
        <!--          <div class="col-md-6">-->
        <!--            <div class="form-group">-->
        <!--              <label for="qualification">course</label>-->
        <!--              <input-->
        <!--                      id="qualification"-->
        <!--                      type="text"-->
        <!--                      class="form-control"-->
        <!--                      placeholder="Enter here"-->
        <!--              />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
           </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-2 mx-auto container text-center">
            <input class="btn btn-primary btn-sm text-uppercase"  type="submit">
            </input>
          </div>
        </div>

      </div>
    </form>

  </div>


  <div class="card mt-4">
    <div class="card-header bg_primary">
      <h4>All Subject</h4>
    </div>
    <div class="card-body" >
      <table class="table table-bordered table-hover">
        <thead>
        <th>Subject ID </th>
        <th>Subject Name</th>
        <th>Course</th>
        </thead>
        <tbody>
        <tr th:each="subject:${subjects}" >
          <td th:text="${subject.getSubject_id()}"></td>
          <td th:text="${subject.getSubjectName()}"></td>
          <td th:text="${subject.getCourse().getCourse_name()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
</body>
</html>