<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="teacher/main_base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <div class="card">
    <div class="card-header bg_primary">
      <h4>Add Time Table</h4>
    </div>
    <form id="login-form" class="form" th:action="@{/teacher/do-add-time-table}" th:object="${timeTable}" action="#"
          method="post">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                <label for="subject">Subject</label>
                <select
                        class="form-control"
                        name="subject"
                        id="subject"
                >
                  <option th:each="choice : ${subjects}"
                          th:value="${choice.getSubject_id()}"
                  ><span th:text="${choice.getSubjectName()}"></span></option>
                </select>
              </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
<!--              <label for="date">DATE</label>-->
<!--              <input-->
<!--                      id="date"-->
<!--                      name="date"-->
<!--                      type="text"-->
<!--                      class="form-control"-->
<!--                      placeholder="Enter here"-->
<!--              />-->

              <p>Date: <input class="form-control" type="text" id="datepicker" autocomplete="off" name="date"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time">Time</label>
              <input
                      id="time"
                      name="time"
                      type="text"
                      class="form-control"
                      placeholder="Enter here"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-2 mx-auto container text-center">
            <input class="btn btn-primary btn-sm text-uppercase"  type="submit">
            </input>
          </div>
        </div>
      </div>
    </form>

  </div>

  <div class="card mt-4">
    <div class="card-header bg_primary">
      <h4>Time Table</h4>
    </div>
    <div class="card-body" >
      <table class="table table-bordered table-hover">
        <thead>
        <th>Subject</th>
        <th>DATE</th>
        <th>Time</th>
        </thead>
        <tbody>
        <tr th:each="timeTable:${timetables}" >
          <td th:text="${timeTable.getSubject().getSubjectName()}"></td>
          <td th:text="${timeTable.getDate()}"></td>
          <td th:text="${timeTable.getTime()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
  </script>
</section>

</body>
</html>